.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -100px;
    position:  relative;
}
.banner>.MuiSvgIcon-root {
    position: absolute;
    top: 35%;
    font-size: 35px;
    cursor: pointer;
}
.banner > .MuiSvgIcon-root:hover {
    color: white;
    background-color: rgba(0,0,0,0.5);
    transition: all 150ms ease-in;
}
.banner--image {
    object-fit: cover;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0,0,0,0));
}
.banner--right-arrow {
    right: 8px;
}

.banner--left-arrow {
    left: 8px;
}
.banner--left-arrow:hover {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.banner--right-arrow:hover {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.banner-active-slide {
    z-index: -10;
}